body {
    margin: 0px;
    padding: 0px;
    font-family: "open sans",sans-serif;
    background: white;
    background-size: cover;
    height: 100%;
}

h1, h3 {
    color: #E8CC06;
}

h5 {
    text-align: center;
}

form .formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .formulaire .box {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .formulaire .droite {
    margin-left: 40%;
}

form .formulaire .droite .box {
    height: 100%;
}

textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    height: 100%;
    width: 160%;
    resize: none;
}

button {
    margin-top: 10px;
    background-color: #E8CC06;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

input {
    margin-top: 5px;
    padding: 10px 5px 5px 30px;
    border: 1px solid;
    border-radius: 7px;
}

i {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 8px 8px;
}

.inner-width {
	max-width: 1000px;
	overflow: hidden;
	padding: 0 20px;
	margin: auto;
}

.border {
	width: 100px;
	height: 3px;
	background: #1d702d;
	margin: 40px auto;
}

.about-section-row {
	display: flex;
	flex-wrap: wrap;
}

.about-section-col {
	flex: 50%;
}

.about {
	padding-right: 30px;
}

.about-section {
    width: 70%;
    background:#fff;
	padding: 40px 0;
	margin-left: auto;
	margin-right:auto;
	margin-top: 170px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 30px;
    border-left: 50px solid #1d702d;
    border-right: 50px solid #1d702d;
}

.about-section h1 {
	text-align: center;
}
